$primary-color: #4b528f;
$secondary-color: #a45689;

body {
    background: linear-gradient(80deg, $primary-color, $secondary-color);
}
#container {
    font-size: 24px;
    background-color: #eee;
    box-shadow: 2px 2px 2px #000;
    border-radius: 30px;
    text-align: center;
    padding: 30px 20px;
    max-width: 700px;
    margin: 40px auto;
}
#wrapper{
    display: flex;
    flex-direction: column;
}
.section-side{
    margin: 20px;
    input{
        margin-top: 10px;
        padding: 10px;
        font-size: 18px;
        border: 1px solid #333;
        border-radius: 20px;
    }
    .span-side{
        font-weight: 700;
    }
    .btn-side{
        margin: 10px 5px;
        padding: 10px;
        border-radius: 20px;
    }
}
.btn-restart {
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
    background-color: #fff;
    cursor: pointer;
}

.return-to-main-site{
    a{
        text-decoration: none;
        color: #000;
    }
    a:hover {
        opacity: .7;
    }
}

 /* DELETE ARROWS IN INPUT */
 /* Chrome, Safari, Edge, Opera */
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }
 /* Firefox */
 input[type=number] {
     -moz-appearance: textfield;
 }
